* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    /* img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    } */
    .img {
      background-image: url(./img/portrait-initial.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      transition: all 0.3s;
    }
    & > div {
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 20px;
      font-size: 40px;
      color: #fff;
      span {
        position: relative;
        &::before {
          transition: all 0.5s ease-in-out;
          content: attr(data-text);
          position: absolute;
          color: yellowgreen;
          width: 0;
          overflow: hidden;
        }
        &:hover::before {
          width: 100%;
        }
      }
    }
  }
}
