body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  h2 {
    font-size: 2rem;
  }
  #container {
    width: 700px;
    height: 400px;
    display: flex;
    align-items: center;
    position: relative;
    .arrow {
      position: absolute;
      width: 70px;
      height: 70px;
      font-size: 2rem;
      background: #ddd;
      border-radius: 50%;
      text-align: center;
      line-height: 70px;
      padding: 10px;
      font-weight: bold;
      opacity: 0.2;
      z-index: 100;
      transition: opacity 0.3s;
      &:hover {
        opacity: 1;
      }
      &#left {
        left: 0;
      }
      &#right {
        right: 0;
      }
    }
  }
}
